body {
	color:red;
        border-top-style: dotted;
        border-right-style: solid;
        border-bottom-style: dotted;
        border-left-style: solid;
	background-color:aliceblue;
}
table { color:darkblue;
	border-style:solid;
	background-color:lightblue;
	width:1200px;
         }